:root {
  --bg: #000000;
  --text-color: #000000;
  --uog-red: #C20430;
  --uog-yellow: #FFC72A;
  --uog-blue: #69A3B9;
  --border: 1px solid #474A4D;
  --nav-size: 60px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.navbar {
  height: var(--nav-size);
  background-color: var(--uog-red);
  padding: 0 1rem;
  border-bottom: var(--border);
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.nav-item:hover{
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background-color: var(--nav-size);
}